body {
    background-color: 
}

div {
    border-style: none;
    border-width: 5px;
    padding: 30px;
}

.container {
    border-color: white;
}

.row {
    border-color: white;
}
body {
    background-image: url(http://www.bettycrocker.com/~/media/Images/Backgrounds/Yellow-wood_75.jpg)
}               /*this is the background image*/

